In [1]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

WARNING:tensorflow:From C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data=pd.read_csv('Churn.csv')
data.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [3]:
data.shape

(900, 10)

In [4]:
data.size

9000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Names            900 non-null    object
 1   Age              900 non-null    float64
 2   Total_Purchase   900 non-null    float64
 3   Account_Manager  900 non-null    int64
 4   Years            900 non-null    float64
 5   Num_Sites        900 non-null    float64
 6   Onboard_date     900 non-null    object
 7   Location         900 non-null    object
 8   Company          900 non-null    object
 9   Churn            900 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 70.4+ KB

In [6]:
data.describe()

,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Churn
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,41.816667,10062.824033,0.481111,5.273156,8.587778,0.166667
std,6.127560,2408.644532,0.499921,1.274449,1.764836,0.372885
min,22.000000,100.000000,0.000000,1.000000,3.000000,0.000000
25%,38.000000,8497.122500,0.000000,4.450000,7.000000,0.000000
50%,42.000000,10045.870000,0.000000,5.215000,8.000000,0.000000
75%,46.000000,11760.105000,1.000000,6.110000,10.000000,0.000000
max,65.000000,18026.010000,1.000000,9.150000,14.000000,1.000000

In [7]:
data.isnull().sum()

Names              0
Age                0
Total_Purchase     0
Account_Manager    0
Years              0
Num_Sites          0
Onboard_date       0
Location           0
Company            0
Churn              0
dtype: int64

In [8]:
data.duplicated().sum()

0

In [9]:
data.columns

Index(['Names', 'Age', 'Total_Purchase', 'Account_Manager', 'Years',
       'Num_Sites', 'Onboard_date', 'Location', 'Company', 'Churn'],
      dtype='object')

In [10]:
data = data.drop(columns=['Names', 'Onboard_date', 'Location', 'Company'])

In [11]:
data.head()

    Age  Total_Purchase  Account_Manager  Years  Num_Sites  Churn
0  42.0        11066.80                0   7.22        8.0      1
1  41.0        11916.22                0   6.50       11.0      1
2  38.0        12884.75                0   6.67       12.0      1
3  42.0         8010.76                0   6.71       10.0      1
4  37.0         9191.58                0   5.56        9.0      1

In [12]:
x=data.drop(columns=['Churn'])
y=data['Churn']

In [13]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
scaler=StandardScaler()
x=scaler.fit_transform(x)
x

array([[ 0.0299361 ,  0.41705373, -0.96290958,  1.52844634, -0.33323478],
       [-0.13335172,  0.76990459, -0.96290958,  0.96318219,  1.36758544],
       [-0.6232152 ,  1.172234  , -0.96290958,  1.09664734,  1.93452551],
       ...,
       [ 0.51979958,  0.82804427, -0.96290958,  0.14668954, -2.60099507],
       [ 1.49952654, -1.47255646,  1.03851911,  0.15454043,  0.80064537],
       [-0.45992738, -0.31039844,  1.03851911, -0.19874967,  0.80064537]])

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=42)
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_val_scaled=scaler.transform(x_val)

In [16]:
print(len(x_train))
print(len(x_val))

576
144

In [17]:
model=keras.Sequential([
    keras.layers.Input(shape=(x_train.shape[1],)),
    keras.layers.Dense(128,activation='relu'),
    keras.layers.Dense(64,activation='relu'),
    keras.layers.Dense(32,activation='relu'),
    keras.layers.Dense(1)   
])

WARNING:tensorflow:From C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               768

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 11137 (43.50 KB)
Trainable params: 11137 (43.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [20]:
history=model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=20,batch_size=32,verbose=2)

Epoch 1/20
WARNING:tensorflow:From C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

18/18 - 3s - loss: 0.5728 - accuracy: 0.8559 - val_loss: 0.3731 - val_accuracy: 0.8472 - 3s/epoch - 184ms/step
Epoch 2/20
18/18 - 0s - loss: 0.3916 - accuracy: 0.8785 - val_loss: 0.4343 - val_accuracy: 0.8472 - 128ms/epoch - 7ms/step
Epoch 3/20
18/18 - 0s - loss: 0.4159 - accuracy: 0.8889 - val_loss: 0.3437 - val_accuracy: 0.8889 - 135ms/epoch - 8ms/step
Epoch 4/20
18/18 - 0s - loss: 0.4012 - accuracy: 0.8958 - val_loss: 0.5252 - val_accuracy: 0.8611 - 155ms/epoch - 9ms/step
Epoch 5/20
18/18 - 0s - loss: 0.3688 - accuracy: 0.9062 - val_loss: 0.4243 - val_accuracy: 0.8681 - 152ms/epoch - 8ms/step
Epoch 6/20
18/18 - 0s - loss: 0.3630 - accuracy: 0.9028 - val_loss: 0.4359 - val_accuracy: 0.8750 - 166ms/epoch - 9ms/step
Epoch 7/20
18/18 - 0s - loss: 0.3573 - accuracy: 0.9132 - val_loss: 0.4516 - val_accuracy: 0.8750 - 152ms/epoch - 8ms/step
Epoch 8/20
18/18 - 0s - loss: 0.3503 - accuracy: 0.9062 - val_loss: 0.4217 - val_accuracy: 0.8681 - 144ms/epoch - 8ms/step
Epoch 9/20
18/18 - 0s - loss: 0.3452 - accuracy: 0.9115 - val_loss: 0.6053 - val_accuracy: 0.8611 - 157ms/epoch - 9ms/step
Epoch 10/20
18/18 - 0s - loss: 0.3463 - accuracy: 0.9097 - val_loss: 0.4464 - val_accuracy: 0.8681 - 163ms/epoch - 9ms/step
Epoch 11/20
18/18 - 0s - loss: 0.3374 - accuracy: 0.9132 - val_loss: 0.4508 - val_accuracy: 0.8681 - 143ms/epoch - 8ms/step
Epoch 12/20
18/18 - 0s - loss: 0.3329 - accuracy: 0.9167 - val_loss: 0.4330 - val_accuracy: 0.8681 - 142ms/epoch - 8ms/step
Epoch 13/20
18/18 - 0s - loss: 0.3298 - accuracy: 0.9184 - val_loss: 0.6076 - val_accuracy: 0.8611 - 157ms/epoch - 9ms/step
Epoch 14/20
18/18 - 0s - loss: 0.3253 - accuracy: 0.9236 - val_loss: 0.5519 - val_accuracy: 0.8681 - 141ms/epoch - 8ms/step
Epoch 15/20
18/18 - 0s - loss: 0.3245 - accuracy: 0.9236 - val_loss: 0.4516 - val_accuracy: 0.8681 - 143ms/epoch - 8ms/step
Epoch 16/20
18/18 - 0s - loss: 0.3211 - accuracy: 0.9271 - val_loss: 0.6355 - val_accuracy: 0.8611 - 156ms/epoch - 9ms/step
Epoch 17/20
18/18 - 0s - loss: 0.3215 - accuracy: 0.9201 - val_loss: 0.4597 - val_accuracy: 0.8681 - 154ms/epoch - 9ms/step
Epoch 18/20
18/18 - 0s - loss: 0.3233 - accuracy: 0.9219 - val_loss: 0.6618 - val_accuracy: 0.8611 - 143ms/epoch - 8ms/step
Epoch 19/20
18/18 - 0s - loss: 0.3170 - accuracy: 0.9201 - val_loss: 0.6210 - val_accuracy: 0.8611 - 158ms/epoch - 9ms/step
Epoch 20/20
18/18 - 0s - loss: 0.3139 - accuracy: 0.9271 - val_loss: 0.6235 - val_accuracy: 0.8611 - 159ms/epoch - 9ms/step

In [21]:
loss=model.evaluate(x_val_scaled,y_val)
predictions=model.predict(x_val_scaled)

5/5 [==============================] - 0s 3ms/step - loss: 0.6235 - accuracy: 0.8611
5/5 [==============================] - 0s 5ms/step

In [ ]:
model.save('minstmodel2.keras')